<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="shortcut icon" href="../static/images/BocetoSami.jpg" type="image/x-icon">
    <title>SAMI</title>
</head>
<body>
    <header class="header" id="inicio">
        <img src="../static/iconos/bx-menu-alt-right.svg" class="hamburger">
        <nav class="menu-navegacion">
            <a href="#servicio">Servicio</a>
            <a href="estudiante.html">Iniciar test</a>
            <a href="administrador.html">Iniciar sesión administrador</a>
            <a href="#contactos">Sobre nosotros</a>
        </nav>
    </header>
    <main>
        <section class="contenedor" id="servicio">
            <h2 class="subtitulo">NUESTRO SERVICIO</h2>
            <div class="contenedor-servicio"> 
                <h2 class="text0">INICIO</h2>
                <img src="../static/images/fondo.png" >
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class=""></span>Nos preocupamos por la salud mental de los estudiantes</h3>
                        <p>Enfocándonos principalmente en el control de: </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">1 </span> Depresión</h3>
                        <p>La depresión, o trastorno depresivo mayor (MDD) según Othmani & Oussama (2022), es una de las enfermedades mentales más comunes, se asocia con una pérdida de interés en practicar actividades cotidianas, pensamientos negativos y tristeza de larga duración que pueden causar problemas de salud, dificultades sociales y en algunos casos severos pueden llevar al suicidio. </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2 </span> Ansiedad</h3>
                        <p>La ansiedad, es definida como un estado de ánimo orientado hacia el futuro asociado con la preparación para posibles eventos negativos próximos (Barlow, 2002). </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3 </span> Estrés</h3>
                        <p>Según Gálvez et al., (2015) este trastorno es un fenómeno inherente al ser humano; dada la exposición a los diferentes elementos que le rodean, el cuerpo obtiene una respuesta natural y automática ante situaciones que nos resultan amenazadoras o desafiantes.</p>
                    </div>
                    <a href="estudiante.html"><span class="button1">Realizar Test</span></a>
                </div>
            </div>
        </section>
        <section></section>
    </main>
    <footer id="contactos">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="subtitulo1">CONTACTO</h2>
                <div class="social-media">
                    <h2 class="brand">Saray Mejia Medina</h2>
                    <a title="Visitar GitHub de Saray" href="https://github.com/smejiame03" class="social-media-icon" target="_blank"><i class="fab fa-github"></i></a>
                    <a title="Visitar Linkedin de Saray" href="https://www.linkedin.com/in/saray-mejia-medina-2345ba140/" target="_blank" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="social-media">
                    <h2 class="brand">Maria Isabel Bohorquez Mejia</h2>
                    <a title="Visitar GitHub de Maria" href="https://github.com/mariamejia2703" class="social-media-icon" target="_blank"><i class="fab fa-github"></i></a>
                    <a title="Visitar Linkedin de Maria" href="https://www.linkedin.com/in/maria-isabel-bohorquez-mejia-322513271/" target="_blank" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="social-media">
                    <h2 class="brand">Luisa María Ramirez Montero</h2>
                    <a title="Visitar GitHub de Luisa" href="https://github.com/zayn31" class="social-media-icon" target="_blank"><i class="fab fa-github"></i></a>
                    <a title="Visitar Linkedin de Luisa" href="https://www.linkedin.com/in/luisa-maria-ramirez/" target="_blank" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
                </div>
                <p class="p">Estudiantes Ingeniería de sistemas</p>
                <p>Universidad Católica Luis Amigó</p>
                <p>Medellin</p>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="../static/js/menu.js"></script>
</body>
</html>